
<div class="form login" >
  <article class="article login">
    <form role="form">
      <div class="form-group username">
        <label for="email">Username</label>
        <input type="email" class="form-control" id="username" value="marie@invisionapp.com">
      </div>
      <div class="form-group password flex">
        <div class="password flexauto">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" id="pwd" value="123456">
        </div>
        <div class="password info flex1"><span class="pwsinfoimg"></span></div>
      </div>
      <button type="submit" class="btn btn-default full pad0" ng-click="signIn()">Sign In</button>
    </form>
  </article>
  <footer class="footer login full">
    Don't have an account? Sign Up
  </footer>
</div>